name: Build Unsigned iOS IPA

on: workflow_dispatch

jobs:
  build-ios:
    name: Build iOS IPA
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v3

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          architecture: x64

      - run: flutter pub get

      - run: pod repo update

      - name: Set iOS Platform
        run: |
          # اطمینان از اعمال iOS Deployment Target حداقل 13.0
          sed -i '' 's/platform :ios, .*/platform :ios, '\''13.0'\''/g' ios/Podfile

      - name: Update Podfile to Disable Signing
        run: |
          cat <<EOF > disable_signing.rb
            target.build_configurations.each do |config|
              config.build_settings['CODE_SIGN_IDENTITY'] = ''
              config.build_settings['CODE_SIGN_STYLE'] = 'Manual'
              config.build_settings['DEVELOPMENT_TEAM'] = ''
              config.build_settings['PROVISIONING_PROFILE'] = ''
              config.build_settings['PROVISIONING_PROFILE_SPECIFIER'] = ''
            end
          EOF
          sed -i '' '/flutter_additional_ios_build_settings(target)/ r disable_signing.rb' ios/Podfile
          rm disable_signing.rb

      - run: pod install --repo-update
        working-directory: ios

      - name: Disable Code Signing
        run: |
          sed -i '' -E 's/DEVELOPMENT_TEAM = .+;/DEVELOPMENT_TEAM = "";/g' ios/Runner.xcodeproj/project.pbxproj
          sed -i '' 's/CODE_SIGN_IDENTITY = ".*"/CODE_SIGN_IDENTITY = ""/g' ios/Runner.xcodeproj/project.pbxproj
          sed -i '' 's/CODE_SIGN_STYLE = Automatic;/CODE_SIGN_STYLE = Manual;/g' ios/Runner.xcodeproj/project.pbxproj
          sed -i '' 's/PROVISIONING_PROFILE = ".*"/PROVISIONING_PROFILE = ""/g' ios/Runner.xcodeproj/project.pbxproj
          sed -i '' 's/PROVISIONING_PROFILE_SPECIFIER = ".*"/PROVISIONING_PROFILE_SPECIFIER = ""/g' ios/Runner.xcodeproj/project.pbxproj

      # مرحله اصلاح شده: استفاده از xcodebuild
      - run: |
          xcodebuild clean build \
            -workspace ios/Runner.xcworkspace \
            -scheme Runner \
            -configuration Release \
            -sdk iphoneos \
            BITCODE_GENERATION_MODE=bitcode \
            CODE_SIGN_IDENTITY="" \
            CODE_SIGNING_REQUIRED=NO \
            CODE_SIGNING_ALLOWED=NO \
            PROVISIONING_PROFILE="" \
            DEVELOPMENT_TEAM="" \
            # مسیر خروجی build
            SYMROOT=$PWD/build/ios/iphoneos

      - run: mkdir Payload
        working-directory: build/ios/iphoneos

      - run: ln -s $PWD/Runner.app $PWD/Payload/Runner.app
        working-directory: build/ios/iphoneos

      - run: zip -r app.ipa Payload
        working-directory: build/ios/iphoneos

      - uses: actions/upload-artifact@v4
        with:
          name: unsigned-ipa
          path: build/ios/iphoneos/app.ipa


