name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build_iosApp:
    name: Build Flutter App (iOS)
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
            channel: 'stable'

      - name: Install dependencies
        run: flutter pub get
  
      - name: Build iOS app and package IPA
        run: |
          flutter build ios --no-codesign
          cd build/ios/iphoneos
          mkdir -p Payload
          # copy the built app into the Payload directory (don't use a symlink)
          cp -r Runner.app Payload/
          # create the .ipa (zip with proper structure)
          zip -r -9 app.ipa Payload

      - name: Upload IPA Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ios-app
          path: build/ios/iphoneos/app.ipa



